
.icon-github-circled-1:before { content: '\e800'; } /* '' */
.icon-stackoverflow:before { content: '\e801'; } /* '' */
.icon-emo-tongue:before { content: '\e807'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
