
.icon-github-circled-1:before { content: '\e800'; } /* '' */
.icon-stackoverflow:before { content: '\e801'; } /* '' */
.icon-floppy:before { content: '\e802'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
