{% extends 'pawel_pedryc_developer/base/base_pc_tablet.html' %}
{% load static %}
{% load embed_video_tags %}


{% block title %}My developer's profile{% endblock %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'pawel_pedryc/styles/all-contacts_pc_tablet.css' %}">
<link rel="stylesheet" href="{% static 'pawel_pedryc/styles/fontello/css/fontello.css' %}">

{% endblock %}

{% block main_heading%}
Python, Django, Docker, AWS, Tkinter, Pandas, mySQL and more...
{% endblock%}

{% block header_content%}
<br /><br />
<p>"Python is the "most powerful language you can still read"</p>
<p></p>
<p>- Paul Dubois</p>
{% endblock%}
    
{% block body %}
            <section class="main_section">
                <div>
                    <h3 class="h3 main_head">My essays and some of my projects:</h3> 
                </div>
                <div class="main_div_0">
                    <div class="main_div_1">
                        <ol class="ol_section">
                            {% if show_text_content %}
                                {% for essay_item in text_content %}
                                    
                                    {% comment %} settings.py line 143-147 allows breaking the code as below
                                    More info about this:
                                    # django template tag on multiple lines (Zach Snow answer):
                                    # https://stackoverflow.com/questions/49110044/django-template-tag-on-multiple-line

                                    # about include used below: I will inject some HTML and dynamic data from another
                                    # file, so the code will look cleaner. Also, I will define shorter object names
                                    # for the dynamic part used for interpolation.
                                    # this code includes a folder I can use in others HTML files - if I would need that. 
                                    {% endcomment %}
                                    {% include 'pawel_pedryc_developer/includes/essay_items.html'
                                    with
                                    title=essay_item.title
                                    description=essay_item.description 
                                    details=essay_item.details
                                    slug=essay_item.slug
                                    image=essay_item.image.url
                                    language=essay_item.language
                                    video_essay_url=essay_item.video.all
                                    %}
                                    {% comment %} about `all` in video_essay_url=essay_item.video.all https://stackoverflow.com/a/4270839/15372196  {% endcomment %}
                                {% endfor %}

                            {% else %}
                                <h2>New content comming soon!</h2>
                            {% endif %}
                        </ol>
                    </div>
                    <div>
                    {% include 'pawel_pedryc_developer/includes/contact_hoover.html' %}
                    </div>
                </div>  
            </section>
{% endblock %}