{% extends 'pawel_pedryc_developer/base/base_mobile.html' %}
{% load static %}

{% block title %} 
My Stored Essays
{% endblock %} 

{% block site_css %}
<link rel="stylesheet" href="{% static 'pawel_pedryc/styles/stored-essays_mobile.css' %}">
{% endblock %}

{% block header_content_bf_main_heading %}
<br/><p></p>
{% endblock %}

{% block body %}

  <section id="stored-essays-page">

    {% if not has_essays %}
    <br/>
      <p style="text-align: center;">You didn't save any essays for later.</p>
    {% endif %}

    <ul>
      {% for essay in essays %}
        <li><a href="{% url 'essay-path' essay.slug %}">{{ essay.title }}</a></li>
      {% endfor %}
    </ul>
    
  </section>

  <div>
    {% include 'pawel_pedryc_developer/includes/contact_hoover.html' %}
  </div>

{% endblock %}