section {
  max-width: 640px;
  margin: 48px auto;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.meetup-item {
  margin: 16px 0;
  /* background-color: #456e9a; */
  background-color: var(--article-item-bg-color);
  padding: 32px;
  color: white;
  border-radius: .25rem;
}

.meetup-small-box {
  font-size: small;
  margin: 16px 0;
  background-color: var(--meetup-small-box-bg);
  padding: 9.6px; 
  border-radius: 1.875rem ;
  float: left;
  color: white;
  padding-top: 1.5625rem;
  
}

.meetup-summary {
  display: flex;
  align-items: flex-start;
}

.meetup-image {
  margin-right: 32px;
}

/* .meetup-image-size {
  width: 7.5rem;
  height: 7.5rem;
} */

.meetup-image img {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 50%;
}

.meetup-details h3 {
  color: inherit;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 32px;
}

.meetup-details address {
  font-style: italic;
}

.meetup-actions {
  margin-top: 24px;
  text-align: right;
}

.meetup-actions .btn {
  background-color: #a06bdc;
  border-color: #cb82fb;
  color: #350490;
  padding: 12px 32px;
  border-radius: .875rem ;
}

.meetup-actions .btn:hover {
  background-color: #8869c2;
  border-color: #a46fe1;
}