article {
  max-width: 960px;
  margin: 80px auto;
  border-radius: .375rem;
  background-color: #456e9a;
  border: .25rem solid #350490;
  box-shadow: .0625rem .125rem .5rem rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 16px;
  text-align: center;
}

.contact-image-zoomer-base-article{
  width: 160px;
  height: 160px;
  position: absolute;
  top: -80px;
  left: calc(50% - 80px);
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: .25rem solid #350490;
  transition: 0.6s; 
  transition-duration: 2s;
  transition-timing-function: ease-out;
}

.main-image:hover {
  transform: scale(1.8);
}


section:first-of-type {
  margin-top: 96px;
}

h2 {
  font-size: 32px;
}

address span {
  font-weight: bold;
}

#content_type {
  font-size: 16px;
  opacity: 0.8;
  line-height: 16px;
  text-align: left;
  border: .25rem solid rgb(0, 101, 0);
  border-radius: .3125rem .625rem .3125rem .625rem;
  width:fit-content;
  padding: 16px;
  
}

#content_type_h3 {
  font-size: 1rem;
  font-weight: 500;
}

#h4_post_tags {
  font-size: 0.6rem;
  font-weight: 500;
  background-color: #352b2b;
  padding: 0.2rem 0.4rem;
  border-radius: .9375rem;
}

#details h2 {
  margin-bottom: 8px;
}

#details > p {
  color: #665386;
  padding: 16px;
  border-radius: .25rem;
  max-width: 80%;
  margin: auto;
}

#comment-form{
  margin: 3rem auto;
  width: 90%;
  max-width: 50rem;
  border: .50rem solid #35049027;
  border-radius: .75rem;
  background-color: #55779b;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.form-control {
  margin-bottom: 1rem;
  background-color: #e1e1e1;
}

.form-control label {
  height: 1.5rem;
  font-weight: bold;
  background-color: #e1e1e1;
  margin-bottom: 0.5rem;
  display: block;
}

.form-control input,
.form-control textarea {
  display: block;
  height: 2rem;
  width: 30%;
  margin: auto;
  background-color: rgb(211, 211, 211);
  font: inherit;
  padding: 0.25rem;
  border-radius: .375rem;
}

.form-control textarea:last-of-type {
  height: 8rem;
  width: 100%;
}


.newsletter_box {
  
  font-size: .75rem;
  margin-top: 2.25rem;
  border: .25rem solid #35049027;
  border-radius: .75rem;
  box-shadow: .0625rem .125rem .5rem rgba(0, 0, 0, 0.25);
  position: relative;
}

#registration ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#registration label {
  font-weight: bold;
  color: #46424d;
  margin-right: 16px;
  display: block;
  margin-bottom: 8px;
}

#registration input {
  font: inherit;
  width: 40%;
  background-color: #ebeaee;
  border: .0625rem solid #4b4753;
  border-radius: .25rem;
  padding: 4px;
}

#registration-actions {
  margin-top: 24px;
}

#registration .errorlist {
  margin-bottom: 8px;
  color: #880824;
}

#details footer {
  color: #696472;
}

#details footer a {
  color: #350490;
  text-decoration: none;
  font-weight: bold;
}