@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@700&display=swap');
/* OOCSS first:*/

* {
  box-sizing: border-box;
}

/* :root{
  --main-bg-color: #01012e;
  --main-txt-color: #11111e;
} */

:root{
  --main-bg-color: #FDFDFD;
  --main-txt-color: #f9f9fed6;
  --article-item-bg-color: #3F7DA4;
  --main-txt-color-h3: #19191adf;

  --dark-btn-background:#010d2e6e;
  --dark-btn-border: #35049080;
  --dark-btn-color-text: #cfc234d2;
  --dark-btn-background-hoover: #010511;
  --dark-btn-border-hoover: #fff71bca;
  --dark-btn-color-text-hoover: #ffffff;

  --knowledge-set-text: #161617d6;
  --contact-small-box-bg: #ccc3db92;
  --animation-test: url(https://jumpingfishes.com/dancingpurpleunicorns/charging.png);
  --animation-slider: url(../logos/media/python_mushroom.jpeg);
  --dark-btn-arrow: url(../logos/media/click_me_arrow.png);
  /* --dark-btn-arrow-big-resolution: url(../../../static/pawel_pedryc/logos/media/click_me_arrow_left.png); */

}

.darkmode {
  --main-bg-color: #000027;
  --main-txt-color: #daffda;
  --article-item-bg-color: #3F7DA4;
  --main-txt-color-h3: #ddddeddf;
  
  --dark-btn-background:#010d2ed9;
  --dark-btn-border: #350490bd;
  --dark-btn-color-text: #21fe16bb;
  --dark-btn-background-hoover: #460465;
  --dark-btn-border-hoover: #fff71be6;
  --dark-btn-color-text-hoover: #c5bfbf;

  --knowledge-set-text: #499f10;
  --contact-small-box-bg: #314030ae;

  --animation-test: url(https://i.ibb.co/WfyzLpJ/charging.png);
}

/* zero-all-out https://www.thoughtco.com/css-zero-out-margins-3464247  */
html, 
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
}

h1,
h2 {
  font-family: 'Roboto Slab', sans-serif;
  color: var(--main-txt-color);
}

#h3-article-main-div{
  height: 7em;
  width: 50%;
  text-align: center;
  margin: auto;
}

#h3-article-div-tittle{
  margin-top: 6.25rem;
  text-align: center;
  margin: auto;
  width: 320px;
  border: .3125rem solid #2d4661;
  border-radius: 80% 70% / 10% 30%;
	background-color: var(--article-item-bg-color);
  font-size: small;
}

h3,
p {
  font-family: 'Roboto Slab', sans-serif;
  color: var(--main-txt-color-h3);
}

.h3.main_head {
  font-family: 'Roboto Slab', sans-serif;
  color: var(--main-txt-color-h3);
  opacity: 0.6;
}

#knowledge-set-text {
  color: var(--knowledge-set-text);
}

button,
.btn {
  cursor: pointer;
  font: inherit;
  padding: 8px 24px;
  background-color: #350490;
  border: .0625rem solid #350490;
  color: white;
  border-radius: .25rem;
  text-decoration: none;
}

button:hover,
.btn:hover {
  background-color: #5a477e;
  border-color: #230161;
}


#main-header {
  width: 100%;
  text-align: center;
  padding: 48px 0;
  /* background-image:url(../logos/media/python_mushroom.jpeg); */
  background-image:url(../logos/media/animated.png);
  max-width: 100%;
  background-position: center;
  border-bottom: .1875rem solid #b2bcff;
  background-repeat: no-repeat;
	transition: background-image 1.2s;
}


#main-header:hover {
  width: 100%;
  text-align: center;
  padding: 48px 0;
  background-image: url(../logos/media/python_mushroom.jpeg);
  /* background-image:url(../logos/media/animated.png); */
  max-width: 100%;
  background-position: center;
  border-bottom: .1875rem solid #b2bcff;  
}

.main-header-dark{
  object-position: right top;
  width: 18.75rem; 
  height: 9.375rem;
  float: right;
  margin-top: -2.8125rem;
  margin-bottom: -6.25rem;
}

@media screen and (max-width: 87.5rem) {
  .main-header-dark{
    object-position: right top;
    width: 18.75rem; 
    height: 9.375rem;
    float: left;
    margin-top: -2.8125rem;
    margin-bottom: -6.25rem;
  }
}

#main-header-dark-img{
  width: 50%;
  max-width: 50%;
  margin-right: -9.375rem;
  /* background-image: url(--dark-btn-arrow);   NOT WORKING IDK why */
}

@media screen and (max-width: 87.5rem) {
  #main-header-dark-img{
    float: left;
    width: 50%;
    max-width: 50%;
    margin-left: 3.125rem;
    /* background-image: url(--dark-btn-arrow-big-resolution);  NOT WORKING IDK why */
  }
}

.main-header-dark-btn{
  background-color: var(--dark-btn-background);
  float: right;
  border-radius: .5rem;
  border: .1875rem solid var(--dark-btn-border);
  margin-right: 4.6875rem;
  color: var(--dark-btn-color-text);
}

@media screen and (max-width: 87.5rem) {
  .main-header-dark-btn{
    background-color: var(--dark-btn-background);
    float: left;
    border-radius: .5rem;
    border: .1875rem solid var(--dark-btn-border);
    margin-right: 4.6875rem;
    color: var(--dark-btn-color-text);
  }
}

.main-header-dark-btn:hover{
  background-color: var(--dark-btn-background-hoover);
  /* float: right; */
  border-radius: .5rem;
  border: .1875rem solid var(--dark-btn-border-hoover);
  margin-right: 4.6875rem;
  color: var(--dark-btn-color-text-hoover);
  -webkit-transition:    color, border 0.2s line;
  -moz-transition:       color, border 0.2s ease-out;
  -ms-transition:        color, border 0.2s ease-out;
  -o-transition:         color, border 0.2s ease-out;
  transition:            color, border 2s ease-out;
  transition-timing-function:  1s ease-out;
  transition-duration:         1s ease-out;
}

#main-header h1 {
    font-size: 14.4px;
    opacity: 0.8;
    line-height: 0.05;
    }

#main-logo {
    font-size: 48px;
    letter-spacing: .0625rem;
    font-family: 'Roboto Slab', sans-serif;
    text-decoration: none;
    color: #350490;
    font-weight: bold;
}


.main_div_0 {
  max-height: fit-content;
}

.main_div_1 {
  float: left;
}

.main_div_2 {
  float: left;
  position: fixed;
  right: 0rem; bottom: 0rem;
}

/* This snippet will change behaviour of maind_div_2 when screen is less that 68.75rem */
/* @media screen and (max-width: 68.75rem) {
  .main_div_2 {
    display: none;
  }
} */

.ol_section {
  height: 100%;
  width: 800px;
}

.square {
  padding: .625rem;
  height: 23.75rem;
  width: 4.0625rem;
  border: .1875rem solid #b2bcff;
  border-radius: .9375rem;
  /* background-color: #3F7DA4; */
  background-color: #3f7da433;
  
}

@media screen and (max-width: 68.75rem){
  .square {
  padding: .625rem;
  height: 11.875rem;
  width: 1.0156rem;
  border: .1875rem solid #b2bcff;
  border-radius: .9375rem;
  /* background-color: #3F7DA4; */
  background-color: #3f7da433;
  }
}


.hg
{
  margin-top: .3125rem;
  margin-right: .125rem;
	width: 2.1875rem;
	height: 3.3125rem;
	background-color: #b50000;
	float: right;
}

.hg:hover
{
	background-color: #690307;
}


@media screen and (max-width: 68.75rem) {
  .hg {
  margin-top: .1563rem;
  margin-right: -0.5rem;
  width: .9375rem;
  height: 1.6563rem;
  background-color: #b50000;
  float: right;
  }
}

.li
{
  margin-top: .3125rem;
  margin-right: .125rem;
	width: 2.1875rem;
	height: 3.3125rem;
	background-color: #0a4c6b;
	float: right;
}

.li:hover
{
	background-color: #c83237;
}


@media screen and (max-width: 68.75rem) {
  .li {
  margin-top: .1563rem;
  margin-right: -0.5rem;
  width: .9375rem;
  height: 1.6563rem;
  background-color: #0a4c6b;
	float: right;
  }
}

.gh
{
  margin-top: .3125rem;
  margin-right: .125rem;
	width: 2.1875rem;
	height: 3.3125rem;
	background-color: #e38fff;
	float: right;
}

.gh:hover
{
	background-color: #9c07c9;
}


@media screen and (max-width: 68.75rem) {
  .gh {
  margin-top: .1563rem;
  margin-right: -0.5rem;
  width: .9375rem;
  height: 1.6563rem;
  background-color: #e38fff;
  float: right;
  }
}

.so
{
  margin-top: .3125rem;
  margin-right: .125rem;
	width: 2.1875rem;
	height: 3.3125rem;
	background-color: #71b0f4;
	float: right;
}

.so:hover
{
	background-color: #c84222;
}


@media screen and (max-width: 68.75rem) {
  .so {
  margin-top: .1563rem;
  margin-right: -0.5rem;
  width: .9375rem;
  height: 1.6563rem;
  background-color: #71b0f4;
  float: right;
  }
}

.pypi
{
  margin-top: .3125rem;
  margin-right: .125rem;
	width: 2.1875rem;
	height: 3.3125rem;
	background-color: #ffea2e;
	float: right;
}

.pypi:hover
{
	background-color: #3fc600;
}

@media screen and (max-width: 68.75rem) {
  .pypi {
  margin-top: .1563rem;
  margin-right: -0.5rem;
  width: .9375rem;
  height: 1.6563rem;
  background-color: #ffea2e;
  float: right;
  }
}

#footer-bg
{
  background-color: #000027;
}

.contact_envelop
{
  padding-top: 1.25rem;
  width: 1520px;
  border: .1875rem solid #2d4661;
  border-radius: .9375rem;
	background-color: var(--article-item-bg-color);
	float: left;
}

.contact_envelop_text
{
  font-size: 35.2px;
  text: var(--main-txt-color);
  text-align: center;
}

.contact_envelop_email_text
{

  padding: .1875rem;
  border: .1875rem solid #b2bcff;
  border-radius: 1.0625rem;
  background-color: var(--main-bg-color);
}


#animation 
{ 
    background-image: var(--animation-test);
    background-repeat: no-repeat; 
    height: 6.375rem; 
    width: 8.75rem; 
}

#animation-slider img ~ img {
  display: none;
}