@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #ccc3db;
  color: #3e3e41;
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: #222224;
}

button,
.btn {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: #350490;
  border: 1px solid #350490;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}

button:hover,
.btn:hover {
  background-color: #230161;
  border-color: #230161;
}

#main-header {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    background-image:url(../logos/media/python_mushroom.jpeg);
    max-width: 100%;
    background-position: center;
}

#main-header h1 {
    font-size: 0.9rem;
    opacity: 0.8;
    line-height: 0.05;
    }

#main-logo {
    font-size: 3rem;
    font-family: 'Roboto Slab', sans-serif;
    text-decoration: none;
    color: #350490;
    font-weight: bold;
}

#square {
   
  height: 75px;
  width: 312px;
}

.hg
{
	margin: 10px;
	width: 52px;
	height: 71px;
	background-color: #b50000;
	float: right;
}

.hg:hover
{
	background-color: #690307;
}

.li
{
	margin: 10px;
	width: 52px;
	height: 71px;
	background-color: #0a4c6b;
	float: right;
}

.li:hover
{
	background-color: #c83237;
}

.gh
{
	margin: 10px;
	width: 52px;
	height: 71px;
	background-color: #e38fff;
	float: right;
}

.gh:hover
{
	background-color: #9c07c9;
}

.so
{
	margin: 10px;
	width: 52px;
	height: 71px;
	background-color: #71b0f4;
	float: right;
}

.so:hover
{
	background-color: #c84222;
}

.pypi
{
	margin: 10px;
	width: 52px;
	height: 71px;
	background-color: #ffea2e;
	float: right;
}

.pypi:hover
{
	background-color: #3fc600;
}