@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@700&display=swap');

* {
  box-sizing: border-box;
}

/* :root{
  --main-bg-color: #01012e;
  --main-txt-color: #11111e;
} */

:root{
  --main-bg-color: #e3e3ff;
  --main-txt-color: #11111e;
  --h3-main-txt-color: #121212;
  --article-item-bg-color: #3F7DA4;
}

/* @media (prefers-color-scheme: dark) {
  :root{
    --main-txt-color: #0202fa;
    --main-bg-color: #ff0606;
  }
} */

/* zero-all-out https://www.thoughtco.com/css-zero-out-margins-3464247  */
html, 
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
}

h1,
h2 {
  font-family: 'Roboto Slab', sans-serif;
  color: #fff8f8c2;
}


h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: #e6d9d9;
}

.h3.main_head {
  font-family: 'Roboto Slab', sans-serif;
  color: var(--h3-main-txt-color);
  opacity: 0.6;
}

button,
.btn {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: #350490;
  border: 1px solid #350490;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}

button:hover,
.btn:hover {
  background-color: #5a477e;
  border-color: #230161;
}

#main-header {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  background-image:url(../logos/media/python_mushroom.jpeg);
  max-width: 100%;
  background-position: center;
  border-bottom: 3px solid #b2bcff;
}

.main-header-dark{
  width: 350px; 
  height: 100px;
  float: right;
}

#main-header-dark-img{
  float: left;
  width: 50%;
  max-width: 50%;
}

#main-header-dark-btn{
  float: left;
}


#main-header h1 {
    font-size: 0.9rem;
    opacity: 0.8;
    line-height: 0.05;
    }

#main-logo {
    font-size: 3rem;
    letter-spacing: 1px;
    font-family: 'Roboto Slab', sans-serif;
    text-decoration: none;
    color: #350490;
    font-weight: bold;
}

/* .main_section {
height: 2000rem;
width: 70rem;
} */

.main_div_0 {
  max-height: fit-content;
}

.main_div_1 {
  float: left;
}

.main_div_2 {
  float: left;
  position: fixed;
  right: 0px; bottom: 0px;
}

@media only screen and (max-width: 20px) {
  .main_div_2 {
      position: absolute;
  }
}

.ol_section {
  height: 300rem;
  width: 50rem;
}

.square {
  padding: 10px;
  height: 380px;
  width: 65px;
  border: 3px solid #b2bcff;
  border-radius: 15px;
  /* background-color: #3F7DA4; */
  background-color: #3f7da433;
  
}

.hg
{
  margin-top: 5px;
  margin-right: 2px;
	width: 35px;
	height: 53px;
	background-color: #b50000;
	float: right;
}

.hg:hover
{
	background-color: #690307;
}

.li
{
  margin-top: 5px;
  margin-right: 2px;
	width: 35px;
	height: 53px;
	background-color: #0a4c6b;
	float: right;
}

.li:hover
{
	background-color: #c83237;
}

.gh
{
  margin-top: 5px;
  margin-right: 2px;
	width: 35px;
	height: 53px;
	background-color: #e38fff;
	float: right;
}

.gh:hover
{
	background-color: #9c07c9;
}

.so
{
  margin-top: 5px;
  margin-right: 2px;
	width: 35px;
	height: 53px;
	background-color: #71b0f4;
	float: right;
}

.so:hover
{
	background-color: #c84222;
}

.pypi
{
  margin-top: 5px;
  margin-right: 2px;
	width: 35px;
	height: 53px;
	background-color: #ffea2e;
	float: right;
}

.pypi:hover
{
	background-color: #3fc600;
}

.contact_envelop
{
  padding-top: 20px;
  width: 95rem;
  border: 3px solid #2d4661;
  border-radius: 15px;
	background-color: var(--article-item-bg-color);
	float: left;
}

.contact_envelop_text
{
  font-size: 2.2rem;
  text: var(--main-txt-color);
  text-align: center;
}

.contact_envelop_email_text
{

  padding: 3px;
  border: 3px solid #b2bcff;
  border-radius: 17px;
  background-color: var(--main-bg-color);
}


#animation 
{ 
    background-image: url(https://jumpingfishes.com/dancingpurpleunicorns/charging.png);
    background-repeat: no-repeat; 
    height: 102px; 
    width: 140px; 
}