@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@700&display=swap');

* {
  box-sizing: border-box;
}

/* :root{
  --main-bg-color: #01012e;
  --main-txt-color: #11111e;
} */

:root{
  --main-bg-color: #ededfd;
  --main-txt-color: #f9f9fed6;
  --article-item-bg-color: #3F7DA4;
  --main-txt-color-h3: #19191adf;

  --dark-btn-background:#010d2e6e;
  --dark-btn-border: #35049080;
  --dark-btn-color-text: #cfc234d2;
  --dark-btn-background-hoover: #010511;
  --dark-btn-border-hoover: #fff71bca;
  --dark-btn-color-text-hoover: #ffffff;

  --knowledge-set-text: #161617d6;
  --meetup-small-box-bg: #ccc3db92;
  --animation-test: url(https://jumpingfishes.com/dancingpurpleunicorns/charging.png);
  --animation-slider: url(../logos/media/python_mushroom.jpeg);

}

.darkmode {
  --main-bg-color: #000027;
  --main-txt-color: #daffda;
  --article-item-bg-color: #3F7DA4;
  --main-txt-color-h3: #ddddeddf;
  
  --dark-btn-background:#010d2ed9;
  --dark-btn-border: #350490bd;
  --dark-btn-color-text: #21fe16bb;
  --dark-btn-background-hoover: #460465;
  --dark-btn-border-hoover: #fff71be6;
  --dark-btn-color-text-hoover: #c5bfbf;

  --knowledge-set-text: #499f10;
  --meetup-small-box-bg: #314030ae;

  --animation-test: url(https://i.ibb.co/WfyzLpJ/charging.png);
}

/* kod poniżej działa: */
/* @media (max-width: 1000px) {
  :root{
    --main-txt-color: #0202fa;
    --main-bg-color: #ff0606;
  }
} */

/* zero-all-out https://www.thoughtco.com/css-zero-out-margins-3464247  */
html, 
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
}

h1,
h2 {
  font-family: 'Roboto Slab', sans-serif;
  color: var(--main-txt-color);
}


h3,
p {
  font-family: 'Roboto Slab', sans-serif;
  color: var(--main-txt-color-h3);
}

.h3.main_head {
  font-family: 'Roboto Slab', sans-serif;
  color: var(--main-txt-color-h3);
  opacity: 0.6;
}

#knowledge-set-text {
  color: var(--knowledge-set-text);
}

button,
.btn {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: #350490;
  border: 1px solid #350490;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}

button:hover,
.btn:hover {
  background-color: #5a477e;
  border-color: #230161;
}


#main-header {
  width: 100%;
  text-align: center;
  padding: 3rem 0;
  /* background-image:url(../logos/media/python_mushroom.jpeg); */
  background-image:url(../logos/media/animated.png);
  max-width: 100%;
  background-position: center;
  border-bottom: 3px solid #b2bcff;
  background-repeat: no-repeat;
	transition: background-image 1.2s;
}


#main-header:hover {
  width: 100%;
  text-align: center;
  padding: 3rem 0;
  background-image:url(../logos/media/python_mushroom.jpeg);
  /* background-image:url(../logos/media/animated.png); */
  max-width: 100%;
  background-position: center;
  border-bottom: 3px solid #b2bcff;  
}

.main-header-dark{
  object-position: right top;
  width: 300px; 
  height: 150px;
  float: right;
  margin-top: -45px;
  margin-bottom: -100px;
}

#main-header-dark-img{
  /* float: left; */
  width: 50%;
  max-width: 50%;
  margin-right: -150px;
}

.main-header-dark-btn{
  background-color: var(--dark-btn-background);
  float: right;
  border-radius: 8px;
  border: 3px solid var(--dark-btn-border);
  margin-right: 75px;
  color: var(--dark-btn-color-text);
}

.main-header-dark-btn:hover{
  background-color: var(--dark-btn-background-hoover);
  float: right;
  border-radius: 8px;
  border: 3px solid var(--dark-btn-border-hoover);
  margin-right: 75px;
  color: var(--dark-btn-color-text-hoover);
  -webkit-transition:    color, border 0.2s line;
  -moz-transition:       color, border 0.2s ease-out;
  -ms-transition:        color, border 0.2s ease-out;
  -o-transition:         color, border 0.2s ease-out;
  transition:            color, border 2s ease-out;
  transition-timing-function:  1s ease-out;
  transition-duration:         1s ease-out;
}

#main-header h1 {
    font-size: 0.9rem;
    opacity: 0.8;
    line-height: 0.05;
    }

#main-logo {
    font-size: 3rem;
    letter-spacing: 1px;
    font-family: 'Roboto Slab', sans-serif;
    text-decoration: none;
    color: #350490;
    font-weight: bold;
}

/* .main_section {
height: 2000rem;
width: 70rem;
} */

.main_div_0 {
  max-height: fit-content;
}

.main_div_1 {
  float: left;
}

.main_div_2 {
  float: left;
  position: fixed;
  right: 0px; bottom: 0px;
}

@media only screen and (max-width: 20px) {
  .main_div_2 {
      position: absolute;
  }
}

.ol_section {
  height: 300rem;
  width: 50rem;
}

.square {
  padding: 10px;
  height: 380px;
  width: 65px;
  border: 3px solid #b2bcff;
  border-radius: 15px;
  /* background-color: #3F7DA4; */
  background-color: #3f7da433;
  
}

.hg
{
  margin-top: 5px;
  margin-right: 2px;
	width: 35px;
	height: 53px;
	background-color: #b50000;
	float: right;
}

.hg:hover
{
	background-color: #690307;
}

.li
{
  margin-top: 5px;
  margin-right: 2px;
	width: 35px;
	height: 53px;
	background-color: #0a4c6b;
	float: right;
}

.li:hover
{
	background-color: #c83237;
}

.gh
{
  margin-top: 5px;
  margin-right: 2px;
	width: 35px;
	height: 53px;
	background-color: #e38fff;
	float: right;
}

.gh:hover
{
	background-color: #9c07c9;
}

.so
{
  margin-top: 5px;
  margin-right: 2px;
	width: 35px;
	height: 53px;
	background-color: #71b0f4;
	float: right;
}

.so:hover
{
	background-color: #c84222;
}

.pypi
{
  margin-top: 5px;
  margin-right: 2px;
	width: 35px;
	height: 53px;
	background-color: #ffea2e;
	float: right;
}

.pypi:hover
{
	background-color: #3fc600;
}

.contact_envelop
{
  padding-top: 20px;
  width: 95rem;
  border: 3px solid #2d4661;
  border-radius: 15px;
	background-color: var(--article-item-bg-color);
	float: left;
}

.contact_envelop_text
{
  font-size: 2.2rem;
  text: var(--main-txt-color);
  text-align: center;
}

.contact_envelop_email_text
{

  padding: 3px;
  border: 3px solid #b2bcff;
  border-radius: 17px;
  background-color: var(--main-bg-color);
}


#animation 
{ 
    background-image: var(--animation-test);
    background-repeat: no-repeat; 
    height: 102px; 
    width: 140px; 
}

#animation-slider img ~ img {
  display: none;
}

/* #animation-slider img {
  display: none;
}

#animation-slider img:first-child {
  display: block;
} */

/* #animation-slider-static
{
  background-image:url(../logos/media/python_mushroom.jpeg);
  width: 100%;
  text-align: center;
  padding: 3rem 0;
  max-width: 100%;
  background-position: center;
  border-bottom: 3px solid #b2bcff;
  background-position: 0px;
} */

/* #animation-slider
{
  width: 100%;
  text-align: center;
  padding: 3rem 0;
  max-width: 100%;
  background-position: center;
  border-bottom: 3px solid #b2bcff;
  background-position: 0px;
  animation: cssAnimation 0s 22s forwards;
  visibility: hidden;

}

@keyframes cssAnimation {
  to   { visibility: visible; }
} */


/* #animation-slider::after
{
  width: 100%;
  text-align: center;
  padding: 3rem 0;
  max-width: 100%;
  background-position: center;
  border-bottom: 3px solid #b2bcff;
  background-position: 0px;
} */
