{% if hangman_icon %}

    <div class="main_div_2">
        <div class="square">
            <div class="li">
                <a href="https://www.linkedin.com/in/pawe%C5%82-pedryc-a5bb4587/" target="_blank" class="sociallink"><i class="icon-linkedin"></i></a>
            </div>
            <div style="clear:both;"></div>
            <div class="gh">
                <a href="https://github.com/Drill-N-Bass" target="_blank" class="sociallink"><i class="icon-github-circled-1"></i></a>
            </div>
            <div style="clear:both;"></div>
            <div class="so">
                <a href="https://stackoverflow.com/users/15372196/pawe%c5%82-pedryc" target="_blank" class="sociallink"><i class="icon-stackoverflow"></i></a>
            </div>
            <div style="clear:both;"></div>
            <div class="pypi">
                <a href="https://pypi.org/project/get-gifNimage/" target="_blank" class="sociallink"><i class="icon-database"></i></a>			
            </div>
            <div style="clear:both;"></div>
            <div class="hg">
                <a href="{% url 'hangman_game' %}" target="_blank" class="sociallink"><i class="icon-emo-tongue"></i></a>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>

{% else %}

    <div class="main_div_2">
        <div class="square">
            <div class="li">
                <a href="https://www.linkedin.com/in/pawe%C5%82-pedryc-a5bb4587/" target="_blank" class="sociallink"><i class="icon-linkedin"></i></a>
            </div>
            <div style="clear:both;"></div>
            <div style="height: 0.3rem;"></div>
            <div class="gh">
                <a href="https://github.com/Drill-N-Bass" target="_blank" class="sociallink"><i class="icon-github-circled-1"></i></a>
            </div>
            <div style="clear:both;"></div>
            <div style="height: 0.3rem;"></div>
            <div class="so">
                <a href="https://stackoverflow.com/users/15372196/pawe%c5%82-pedryc" target="_blank" class="sociallink"><i class="icon-stackoverflow"></i></a>
            </div>
            <div style="clear:both;"></div>
            <div style="height: 0.3rem;"></div>
            <div class="pypi">
                <a href="https://pypi.org/project/get-gifNimage/" target="_blank" class="sociallink"><i class="icon-database"></i></a>			
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>

{% endif %}