{% comment %} https://www.youtube.com/watch?v=t61nTi0lIlk {% endcomment %}
{% load blog_extras %}
{% load embed_video_tags %}

<li class="meetup-item">
    <article>
        <div class="meetup-summary">
            <div class="meetup-image">
                <img src="{{ image }}" alt="{{ title }}">
            </div>
            <div class="meetup-details">
                <h3>{{ title}}</h3>
                <p>{{ description|convert_markdown|safe }}</p>
                <br /><br />
                <p>poniżej masz video</p>
                <p>{% video video_essay_url %}</p>
            </div>
        </div>
        <div class="meetup-small-box">
            <p id="knowledge-set-text"><b>Knowledge set </b>{{ language }}</p>
        </div>
        <div class="meetup-actions">
            {% comment %} <a href="/pawel_pedryc_developer/{{ essay_item.slug }}" class="btn">More details</a> {% endcomment %}
            <a href="{% url 'essay-path' slug %}" class="btn">More details</a>
        </div>
    </article>
</li>